.main-p {
  width: 30%;
  /* height: 100vh; */
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
}
.p {
  /* overflow: hidden; */
}
.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  /* to make the p-browser do not move while hovering effect */
  position: sticky;
  z-index: 2;
}
.p-circle {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}
.p-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: all 3s ease;
}
.p:hover .p-img {
  transform: translateY(-10%);
}
.p-title {
  color: #333;
  font-size: medium;
  font-weight: bolder;
  margin: 0px 20px 0px 20px;
}
.p-desc {
  margin-top: 20px;
  font-size: small;
}
